/*
Aufgabe: Lektion09
Name: Alina Maaß
Matrikel: 256216
Datum: 17.12.2017
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.
*/
div {
	float: left;
}

html{
	font-family: "Verdana",sans-serif;
}