/*
Aufgabe: Lektion10
Name: Alina Maaß
Matrikel: 256216
Datum: 05.01.2018
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.
*/

body {
	font-family: "Verdana";
	color: black;
	font-size: 1em;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #F6FDE6;
}

section{
	padding: 5%;
	margin: 0;
}
img{
	width: 100%;
	margin: auto;
}

h1 {
	color: #409042;
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}


input::invalid {
	background: #FA5858;
}

label::after {
	display: block;
}

input {
	margin: 0.5em;
}

#warenkorb{
	position: relative;
	top: 0.5em;
	height: 2em;
	width: 2em;
}

button {
	background-color: darkgreen;
	color: white;
    padding: 0.3em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 0.02em;
    cursor: pointer;
}
#daten input {
	display: block;
	height: 1.5em;
	width: 75%;
	font-size: 1.25em;
	padding: 0;
}

#zusammenfassung {
	position: fixed;
	right: 0em;
	top: 0em;
	color: #F6FDE6;
	padding: 1em;
	border: none;
	font-size: 0.8em;
}

.wk {
	font-size: 1.2em;
}